body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: black;
  }
  
  video {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
    padding-top: 20px;
  }
  
  #result img {
    width: 200px;
    margin-top: 20px;
  }
  